<% count = 0 %>
<% @memories.each do |memory| %>

  <% if memory.comment.present? %>
    <% if memory.comment.comment.present? %>
      <div class="comment-time">
        <%= "投稿時間  #{memory.worked_at.strftime("%H:%M:%S")}" %>
      </div>
      <div class="comment-text">
        <%= memory.comment.comment %>
      </div>
      <% count += 1 %>
    <% end %>
  <% end %>
<% end %>
<% if count == 0 %>
  <div class="list-empty">
    投稿された育児日記はありません
  </div>
<% end %>